body{
    width:100%;
    heigth:100%;
    font-family: 'Noto Sans', sans-serif;
    font-size:13pt;
}
header{
    font-family: 'Bitter', serif;
    line-height:60px;
    height: 60px;
    font-size: 25pt;
    font-weight: bolder;

}

.container{
    position: relative;
    width:100%;
    height:800px;
    background-color:#f1f1f1;
}

.tab{
    float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
  height: 300px;

}

.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
    font-family: 'Bitter', serif;
    font-size: 15pt;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tab a{
    text-decoration: none;
    color: #000000;
}

.tab a:visited{
    text-decoration: none;
    color: #000000;
}

.content{
    display: inline-block;
    height:100%;
    position: absolute;
    left:250px;
    right:0;
    overflow:hidden;
    background-color:lightgray;

}

table{
    width:80%;
    border: 1px solid #444444;
    border-collapse:collapse;
    margin:10px;
}
td{
    padding: 5px;
    border: 1px solid #444444;
    font-size:10pt;
    text-align: center;
}


.sub_content{
    width:97%;
}

#circle{
    width:200px;
    height:200px;
    border-radius:50%;
    background-color:lightgray;
}

#user_name{
    font-family: 'Bitter', serif;
    font-size:20pt;
}


#content_user{

    height:45%;
    background-color:white;
    margin:15px;
    border-radius:25px;
    padding-top:15px;
}

#content_period{
    height:10%;
    background-color:white;
    margin:15px;
    border-radius:25px;
}

#content_state{
    height:33%;
    background-color:white;
    margin:15px;
    border-radius:25px;


}

#period {
    font-family: 'Bitter', serif;
    font-size: 20pt;
    margin:0pt;
}

#state{
    font-family: 'Bitter', serif;
    font-size: 20pt;
    margin:0pt;
}



.explain{
    font-size:12pt;
    margin:2px;
    padding-left: 2px;
}

.level4{
    background-color: #819FF7;
}

.level3{
    background-color: #A9BCF5;
}

.level2{
    background-color:#CED8F6;
}

.level1{
    background-color:#E0E6F8;
}

.excited{
    background-color:#F5A9BC;
}